<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet"href="{{url_for('static',filename='style.css')}}">
    <title>Add Food Truck</title>
</head>
<body>
<header style="background-color: #e6e6fa;">
    <h1 class="header-title">Food Truck Finder System</h1>
</header>
<h2>Add Street Food Vendor</h2>

<form action="/add" method="POST">

    Vendor Name:
    <input type="text" name="vendor_name" required><br><br>

    Food Type:
    <input type="text" name="food_type" required><br><br>

    Location:
    <input type="text" name="location" required><br><br>

    Contact:
    <input type="text" name="contact" required><br><br>

    <input type="submit" value="Add Vendor">
</form>
 <br><br>
    <a href="/">
        <button type="button">Back to Home</button>
    </a>
</body>
</html>